Weak Pin Bar: The volumes on a pin bar are important but the most important thing which determines if the pin bar is weak or not is the follow up bar and it's volume.

Hypothesis: If the follow up bar gives greater move than the pin bar but the volume was lower than the pin bar then, the low of the pin bar should get tested. This testing depends on the time frame of the pin bar. The results can be seen more quickly on intraday time frames so, we will be using 3, 5, and 15 minutes time frames on BTCUSDT and ETHUSDT futures contracts.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
btcusdt_15min_data = pd.read_csv("BTCUSDT_3min.csv")
btcusdt_15min_df = pd.DataFrame(btcusdt_15min_data)
btcusdt_15min_df.tail()

                  timestamp      open      high       low     close   volume
315356  2025-07-03 19:55:00  109686.1  109767.8  109686.1  109743.9  225.817
315357  2025-07-03 20:00:00  109743.8  109816.9  109743.8  109813.6  172.753
315358  2025-07-03 20:05:00  109813.7  109837.0  109784.7  109836.9  191.596
315359  2025-07-03 20:10:00  109836.9  109854.2  109750.2  109766.2  165.509
315360  2025-07-03 20:15:00  109766.2  109792.4  109711.2  109792.4   85.964